 /* vars */

 $color-fondo: rgb(228, 198, 135) !important;
 $color-boton: rgb(107, 68, 18);
 $titular: (
     h1: 50px,
     h2: 45px
 );
 $color-parrafo: (
     texto: rgb(228, 198, 135),
     base: rgb(107, 68, 18)
 );

